<div class="card shadow mb-4">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <h5 class="m-0 font-weight-bold">Customer Management</h5>
        <a href="#" class="btn btn-success btn-sm">
            <i class="fa-solid fa-plus"></i> Add Customer
        </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle text-center">
                <thead style="background-color: #343a40; color: white; font-weight: 600;">
                <tr>
                    <th scope="col" style="width: 5%;">STT</th>
                    <th scope="col" style="width: 20%;">Full Name</th>
                    <th scope="col" style="width: 20%;">Email</th>
                    <th scope="col" style="width: 15%;">Phone</th>
                    <th scope="col" style="width: 15%;">Address</th>
                    <th scope="col" style="width: 8%;">View</th>
                    <th scope="col" style="width: 8%;">Edit</th>
                    <th scope="col" style="width: 8%;">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Nguyễn Văn A</td>
                    <td>a.nguyen@example.com</td>
                    <td>0901234567</td>
                    <td>Hà Nội</td>
                    <td><i class="fa-solid fa-eye text-info"></i></td>
                    <td><i class="fa-solid fa-pen-to-square text-warning"></i></td>
                    <td><i class="fa-solid fa-trash text-danger"></i></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Trần Thị B</td>
                    <td>b.tran@example.com</td>
                    <td>0912345678</td>
                    <td>TP. Hồ Chí Minh</td>
                    <td><i class="fa-solid fa-eye text-info"></i></td>
                    <td><i class="fa-solid fa-pen-to-square text-warning"></i></td>
                    <td><i class="fa-solid fa-trash text-danger"></i></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Lê Văn C</td>
                    <td>c.le@example.com</td>
                    <td>0987654321</td>
                    <td>Đà Nẵng</td>
                    <td><i class="fa-solid fa-eye text-info"></i></td>
                    <td><i class="fa-solid fa-pen-to-square text-warning"></i></td>
                    <td><i class="fa-solid fa-trash text-danger"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer text-muted text-end small">
    </div>
</div>